@using Demo.Demos.HashX
@code {
    [Parameter, EditorRequired]
    public required UniqueCalculationResult Result { get; set; }
}

<div class="calculation-result">
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td><strong>Hash algorithm:</strong></td>
                <td>@Result.AlgorithmName</td>
            </tr>
            <tr>
                <td><strong>Blocks Hashed:</strong></td>
                <td>@Result.BlocksHashed</td>
            </tr>
            <tr>
                <td><strong>Unique Hashes:</strong></td>
                <td>@Result.UniqueHashes</td>
            </tr>
            <tr>
                <td><strong>Buffer Size:</strong></td>
                <td>@Result.BufferSize byte(s)</td>
            </tr>
            <tr>
                <td><strong>Hash Length:</strong></td>
                <td>@Result.HashLength byte(s)</td>
            </tr>
        </tbody>
    </table>
</div>

<style>
    .calculation-result {
        margin: 10px 0;
    }

    .table-sm {
        width: auto;
        margin: auto;
    }
</style>
