@using Demo.Demos.BJ

<div class="controls-container">
    <button @onclick="async () => await Game.StartNewRoundAsync()" class="casino-button" disabled="@(!Game.CanStartNewRound())">Start Round</button>
    <button @onclick="async () => await Game.HitAsync()" class="casino-button" disabled="@(!Game.CanHit())">Hit</button>
    <button @onclick="async () => await Game.StandAsync()" class="casino-button" disabled="@(!Game.CanStand())">Stand</button>
    <button @onclick="async () => await Game.DoubleDownAsync()" class="casino-button" disabled="@(!Game.CanDoubleDown())">Double Down</button>
    <button @onclick="async () => await Game.SplitAsync()" class="casino-button" disabled="@(!Game.CanSplit())">Split</button>
    <button @onclick="async () => await Game.SurrenderAsync()" class="casino-button" disabled="@(!Game.CanSurrender())">Surrender</button>
</div>

@code {
    [Parameter] public required BlackjackGameBase Game { get; set; }
}